.cart {
  background-color: rgba(255, 153, 0, 0.3);
  color: #2A414F;
  padding: 16px;
  width: 264px;
  height: 944px;
  left: 1176px;
  position: sticky;
  top: 0;
}

.cart h2,h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #1c2b35;
  text-align: center;
}

.btn-clear-cart{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 16px;
  background-color: #FF3030;
}

